/* Контейнер */
.container {
  max-width: 1355px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1260px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
    padding: 0 8px;
  }

  .vacancy.container {
    padding: 0 15px;
  }
}
